* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Roboto!important;
}

a {
    text-decoration: none;
}

hr {
    margin: 0px!important;
}

#side-menu {
    /*border: 3px solid #ffc106!important;*/
    background-color: #2d3748;
}

#side-menu a {
    display: block;
    text-decoration: none;
    padding: 15px;
    border: 2px solid #ffc106!important;
    border-bottom: 0px!important;
    color: #ffc106!important;
    font-weight: bold;
}

#side-menu a:last-child {
    border-bottom: 2px solid #ffc106!important;
}

#side-menu {
    max-width: 300px;
    border-radius: 5px;
}

.w-nav li {
    border: 1px solid #2d3748;
}

.w-nav li:hover {
    border: 1px solid #ffc106;
    color: #ffc106;
    border-radius: 5px;
}

#side-menu a:hover {
    cursor: pointer;
    background: #ffc106;
    color: #2d3748!important;
}

.price {
    font-size: large;
}

.icon-block {
    display: inline-block;
    width: 50px;
}

#signIn, #cart, #dashboard {
    cursor: pointer;
    font-size: x-large;
    font-weight: bold;
}

#signIn i:hover {
    position: absolute;
    font-size: xx-large;
}

#dashboard i:hover {
    position: absolute;
    font-size: xx-large;
}

#cart:hover {
    position: absolute;
    font-size: 28px;
}

#logo {
    height: 60px;
    width: 60px;
    border-radius: 30px;
}

.border-bottom-3 {
    border-bottom: 3px solid #ffc106!important;
}

.border-top-3 {
    border-top: 3px solid #ffc106!important;;
}

header, footer {
    background-color: #2d3748;
}

#content {
    min-height: calc(100vh - 304.5px);
    padding-bottom: 10px;
}

footer li, footer p {
    font-size: large;
}

#social {
    height: 40px;
}

#social i {
    color: #ffc106;
    padding-left: 7px;
    padding-right: 7px;
    cursor: pointer;
    font-size: x-large;
}

#social i:hover {
    font-size: xx-large;
}

.category-image {
    width: 40px;
    height: 40px;
}

.btn-cart:hover {
    font-size: large;
}

.product:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.card .img {
    height: 225px!important;
}

.logo:hover {
    transform: scale(1.05);
}

.count {
    font-style: italic;
}

.btn-block {
    height: 50px;
}

.product-img{
    border-radius: 10px;
}

#productCounter {
    display: none;
    background-color: #ffc106;
    border-radius: 10px;
    color: #2d3748;
    font-size: xx-small;
    padding: 5px;
}

.btn-delete {
    cursor: pointer;
}

.cart-title {
    font-size: x-large;
    margin-left: 5px;
    padding: 0px;
}

.btn-order:hover {
    font-size: large;
}

.promo-input {
    border-color: lightgrey;
    border-radius: 10px;
    max-width: 250px!important;
}

.error {
    color: red;
}

.modal-footer .btn-order {
    background-color: #ffc106;
}

.modal-footer {
    height: 80px;
}

.input-form {
    border-color: lightgray;
    border-radius: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.form-icon {
    font-size: x-large;
    background: #ffc106;
    border-radius: 10px;
    padding: 5px;
}

#searchCities, #searchWarehouses, #searchUkrPoshtaCities, #searchPostOffices {
    border-color: lightgray;
}

.btn-close {
    color: lightgray!important;
    background: red!important;
}

#warehouses, #postOffices, .ukr-poshta-block {
    display: none;
}

.search-input {
    border-radius: 0px 10px 10px 0px!important;
    border-color: lightgray!important;
}

.search-icon {
    font-size: larger;
}

.search-block {
    min-width: 100%;
}

#courier-nova-poshta, #courier-ukr-poshta {
    display: none;
}

#error-block {
    color: red;
}

.main-color {
    background-color: #2d3748;
}

.main-text-color {
   color: #2d3748!important;
}

.border-radius-10 {
    border-radius: 10px;
    border: 3px solid #ffc106!important;
}

.bg-main {
    background: #2d3748;
}

@keyframes float {
    0% {
        box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
        transform: translatey(0px);
    }
    50% {
        box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
        transform: translatey(-40px);
    }
    100% {
        box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
        transform: translatey(0px);
    }
}

@keyframes title-medobear {
    0% {
        transform: scale(1);
    }
    30% {
        transform: scale(1.1);
    }
    60%, 100% {
        transform: scale(1);
    }
}

@keyframes wiggle {
    0%, 7% {
        transform: rotateZ(0);
    }
    15% {
        transform: rotateZ(-15deg);
    }
    20% {
        transform: rotateZ(10deg);
    }
    25% {
        transform: rotateZ(-10deg);
    }
    30% {
        transform: rotateZ(6deg);
    }
    35% {
        transform: rotateZ(-4deg);
    }
    40%, 100% {
        transform: rotateZ(0);
    }
}

.effect {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 500px;
}

.second-color {
    color: #ffc106;
}

.avatar {
    width: 150px;
    min-height: 150px;
    box-sizing: border-box;
    border: 5px white solid;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    transform: translatey(0px);
    animation: float 2s ease-in-out infinite;
}

.contact-block:hover {
    animation: wiggle 2s linear infinite;
    cursor: pointer;
}

.border-bottom-second {
    border-bottom: 3px solid #ffc106!important;
}

.bg-second {
    background: #ffc106;
}

.desc-title, .name-product{
    font-weight: bold;
    font-size: large;
}

.description {
    text-align: justify!important;
    /*font-family: "Nunito Sans", sans-serif;*/
    /*font-weight: 600;*/
    /*font-style: normal;*/
}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

.preload {
    opacity: 100%!important;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -150px 0 0 -75px;
    width: 150px;
    height: 150px;
    box-sizing: border-box;
    border: 5px white solid;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    animation: spin 1.3s linear 0s infinite;
    z-index: 999;
}

.content-body {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
    opacity: 90%;
    background: #2d3748;
    z-index: 998;
}

.title-preload {
    color: white;
    font-size: xxx-large;
    opacity: 100%!important;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 20px 0 0 -150px;
    z-index: 999;
}

.btn-to-site {
    padding: 10px;
    background: #ffc106;
    position: absolute;
    color: black;
    top: 50%;
    left: 50%;
    margin: 100px 0 0 -75px;
    z-index: 999;
    text-decoration: none;
    border-radius: 5px;
}

.fa-sync-alt {
    padding-left: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.fa-sync-alt:hover {
    color: green;
}

.about-image {
    width: 300px;
    height: 500px;
    border: 4px solid #ffc106;
    border-radius: 5px;
    cursor: pointer;
}

.about-image:hover {
    transform: scale(1.05);
}

.text-justify {
    text-align: justify;
}

.btn-menu {
    position: absolute;
    width: 50px;
    display: none;
    margin-left: 12px;
    z-index: 5;
    border: 2px solid #ffc106!important;
    background: #2d3748;
    color: #ffc106;
    font-weight: bold;
    padding: 15px;
}

.btn-back {
    width: 80px;
    display: none;
    z-index: 5;
    padding: 5px;
    position: absolute;
    right: 15px;
}

.btn-back-cart {
    display: none;
}

.btn-back i {
    font-size: large;
}

.btn-menu:active {
    background: #2d3748!important;
    color: #ffc106!important;
    font-weight: bold!important;
}

.sort i {
    font-size: 25px;
    margin-top: 3px;
    color: #fdda0f;
}

.sort i:hover {
    cursor: pointer;
    color: #ffc106;
}

.sort-active {
    color: #d09e0e !important;
}

.btn-search:hover {
    transform: scale(1.05);
}

.fa-search {
    margin-top: 4px;
}

.empty-products {
    max-width: 150px;
    max-height: 150px;
}

.empty-orders {
    max-width: 300px;
    max-height: 300px;
}

.productImage {
    border: 3px solid #ffc106;
    border-radius: 50%;
    width: 70px;
    height: 70px;
}

.accordion-header button {
    background: #ffc106;
}

.alert-link {
    padding: 5px;
}

.copy, .watch {
    cursor: pointer;
}

.watch:hover {
    color: #ffc106;
}


@media (max-width: 768px) {
    #logo {
        margin-left: 0px!important;
    }
    .left-menu {
        text-align: center;
    }
    .product-entity-sidebar {
        display: none;
    }
    .btn-back {
        display: block;
    }
    .product-entity-row {
        padding-right: 10px!important;
        padding-left: 10px!important;
    }
    .cart-sidebar {
        display: none;
    }
    .cart-row {
        padding-right: 10px!important;
        padding-left: 10px!important;
    }
    .btn-back-cart {
        display: inline-block;
    }
}

@media (max-width: 576px) {
    #app {
        padding-left: 10px;
    }
    .sidebar {
        margin-top: 55px;
        display: none;
    }
    .btn-menu {
        display: block;
    }
    .product-row {
        padding-left: 55px!important;
        padding-right: 20px!important;
    }
    .span-activate {
        display: none;
    }
    .main-row, .row-panel {
            padding-left: 20px!important;
            padding-right: 20px!important;
    }
    .span-price {
        display: none;
    }
}

